<div class="uk-visible-small" style="margin-top: 18px; position: relative;">
	<div class="uk-width-large-10-10">
		<ul kendo-panel-bar>
			<li>
				Menu
				<ul>
					<li>
						<a href="#">Como ayudar?</a>
					</li>
					<li>
						<a href="#"><i class="uk-icon-map-marker" style="color: #676767;font-size: 18px;"></i> Donaciones cercanas</a>
					</li>
					<li ng-show="estaLogueado"><a ui-sref="restricted.donacion-add">Crear donacion</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<!-- restricted main content -->
<div ui-view ng-class="{ 'uk-height-1-1': page_full_height }"></div>

<!-- style switcher -->
<!--<style-switcher></style-switcher>-->

<div id="footer" class="container-brand-dark footer-surround footer-container" style="">
	<footer class="page-container-responsive" role="contentinfo" style="">

		<!--<div class="uk-grid" data-uk-grid-margin="">
			<div class="uk-width-medium-1-3">
				<h2 class="h5" style="color: #fff;font-size: 18px;">Company</h2>
				<ul class="list-layout" style="padding-left: 0;list-style: none;">
					<li><a href="/about/about-us" class="link-contrast">About</a></li>
					<li><a href="/careers" class="link-contrast">Careers</a></li>
					<li><a href="/press/news" class="link-contrast">Press</a></li>
					<li><a href="http://blog.airbnb.com" class="link-contrast">Blog</a></li>
					<li><a href="/help?from=footer" class="link-contrast">Help</a></li>
					<li><a href="/policies" class="link-contrast">Policies</a></li>
					<li><a href="/disaster-response" class="link-contrast">Disaster Response</a></li>
					<li><a href="/terms" class="link-contrast">Terms &amp; Privacy</a></li>
				</ul>
			</div>
			<div class="uk-width-medium-1-3">
				<h2 class="h5">Discover</h2>
				<ul class="list-layout">
					<li><a href="/trust" class="link-contrast">Trust &amp; Safety</a></li>
					<li><a href="/invite?r=6" class="link-contrast">Travel Credit</a></li>
					<li><a href="/gift?s=footer" class="link-contrast">Gift Cards</a></li>
					<li><a href="/wishlists/airbnb_picks" class="link-contrast">Airbnb Picks</a></li>
					<li><a href="/mobile" class="link-contrast">Mobile</a></li>
					<li><a href="https://www.airbnbaction.com?utm_source=airbnb&amp;utm_medium=footer&amp;utm_campaign=product" class="link-contrast"
							target="_blank">Airbnb Action</a></li>
					<li><a href="/business-travel?s=footer" class="link-contrast">Business Travel</a></li>
					<li><a href="/sitemaps" class="link-contrast">Site Map</a></li>
				</ul>
			</div>
			<div class="uk-width-medium-1-3">
				<h2 class="h5">Hosting</h2>
				<ul class="list-layout">
					<li><a href="/host" class="link-contrast">Why Host</a></li>
					<li>
						<a href="/refer?r=6" class="link-contrast">
                                Refer Hosts
                                <span class="label label-new">New</span>
                            </a>
					</li>
					<li><a href="/hospitality" class="link-contrast">Hospitality</a></li>
					<li><a href="/help/responsible-hosting" class="link-contrast">Responsible Hosting</a></li>
					<li><a href="/home-safety" class="link-contrast">Home Safety</a></li>
					<li><a href="/host/instant" class="link-contrast">Instant Book</a></li>
				</ul>
			</div>
		</div>-->

		<hr class="footer-divider space-top-8 space-4 hide-sm">

		<div class="text-center">
			<h2 class="h5 space-4 hide-sm">Encontranos en</h2>
			<ul class="list-layout list-inline ul-iconos" itemscope="" itemtype="http://schema.org/Organization">
				<!--<link itemprop="url" href="https://www.airbnb.com">
					<meta itemprop="logo" content="https://a2.muscache.com/airbnb/static/logos/belo-200x200-4d851c5b28f61931bf1df28dd15e60ef.png">-->
				<li>
					<a href="https://www.facebook.com/SoyDonar" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
						<span class="screen-reader-only">Facebook</span>
						<i class="icon footer-icon icon-facebook uk-icon-facebook icono-footer"></i>
					</a>
				</li>
				<li>
					<a href="https://plus.google.com/+SoyDonar" class="link-contrast footer-icon-container" itemprop="sameAs" rel="publisher"
						target="_blank">
						<span class="screen-reader-only">Google+</span>
						<i class="icon footer-icon icon-google-plus uk-icon-google icono-footer"></i>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/SoyDonar" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
						<span class="screen-reader-only">Twitter</span>
						<i class="icon footer-icon icon-twitter uk-icon-twitter icono-footer"></i>
					</a>
				</li>
				<li>
					<a href="mailto:info@soydonar.com" class="link-contrast footer-icon-container" itemprop="sameAs" target="_blank">
						<span class="screen-reader-only">Email</span>
						<i class="icon footer-icon icon-twitter uk-icon-envelope icono-footer"></i>
					</a>
				</li>
			</ul>
			<div class="space-top-2 text-muted">
				© SoyDonar
			</div>
		</div>
	</footer>
</div>

<style>
	.ul-iconos {
		text-align: center;
		margin-left: 0px;
		padding-left: 0px;
	}
	
	.text-center {
		text-align: center;
	}
	
	.link-contrast {
		color: #fff;
	}
	
	.link-contrast:hover {
		color: #bbb;
	}
	
	.h5 {
		color: #fff;
		font-size: 18px;
	}
	
	.footer-container {
		padding: 48px 0;
		background-image: url(https://a0.muscache.com/airbnb/static/footer/background-317dd7c2cb678ddbdb0a983d511cb9a0.png);
		background-color: #2b2d2e;
		color: #fff;
	}
	
	.page-container-responsive {
		padding-left: 24px;
		padding-right: 24px;
		max-width: 800px;
		margin: auto;
	}
	
	.list-inline li {
		padding: 0 5px;
		display: inline-block;
	}
	
	.footer-icon-container {
		border-color: #aaa;
		border-color: rgba(255, 255, 255, 0.2);
		display: block;
		height: 36px;
		width: 36px;
		border-width: 1px;
		border-style: solid;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		text-align: center;
		color: #fff;
	}
	
	.screen-reader-only {
		border: 0;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	
	.footer-icon {
		position: relative;
	}
	
	.icon {
		font-style: normal;
		font-weight: normal;
		line-height: 1;
	}
	
	.icono-footer {
		margin-top: 11px;
	}
</style>