# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Proyecto/Proyecto.Android/obj/Release
/Proyecto/Proyecto.Web/obj/Release
/Proyecto/Proyecto.API/Properties/PublishProfiles
*.dll
*.pdb
/Proyecto/Proyecto.API/bin/
/Proyecto/Proyecto.API/obj/
*.pdb
*.pdb
*.suo
*.dll
Proyecto/Proyecto.API/Proyecto.API.csproj.user
*.dll
Proyecto/Proyecto.API/bin/Proyecto.API.pdb
/Proyecto/Proyecto.Web/node_modules
/Proyecto/Proyecto.Web/bin
/Proyecto/Proyecto.Web/obj
/Proyecto/.vs