<div class="md-card">
    <div class="md-card-content">
        <h3 class="heading_a">Favoritos</h3>
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-1-1">
                <div class="uk-overflow-container">
                    <table class="uk-table uk-table-nowrap">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Titulo</th>
                                <th>Descripcion</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="fav in vm.favoritos">
                                <td class="uk-width-1-10"><img class="img_thumb" ng-src="http://www.soydonar.com/imagenes/necesidades/{{ fav.imagen_path }}"
                                        alt=""></td>
                                <td class="uk-width-3-10 uk-text-large"><a ui-sref="restricted.donacion({id:fav.id_necesidad})">{{ fav.titulo }}</a></td>
                                <td class="uk-width-5-10 uk-text-nowrap">{{fav.necesidad | limitTo: 100 }}{{fav.necesidad.length > 100 ? '...' : ''}}</td>
                                <td class="uk-text-nowrap">
                                    <!--<a ui-sref="restricted.ecommerce.product_details"><i class="md-icon material-icons md-24">&#xE8F4;</i></a>-->
                                    <a ng-click="vm.deleteFav(fav.id_necesidad)"><i class="md-icon material-icons md-24">&#xE872;</i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>