<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
            <div class="uk-width-large-2-10">
                <!--<div class="md-card">
                    <div class="md-card-content">
                        <div class="uk-grid uk-margin-large-bottom">
                            <div>-->
                                <ul kendo-panel-bar>
                                    <li>
                                        Mi perfil
                                        <ul>
                                            <li><a ui-sref="restricted.my-profile.profile">Perfil</a></li>
                                            <li><a ui-sref="restricted.my-profile.favorite">Favoritos</a></li>
                                            <li><a ui-sref="restricted.my-profile.pendiente">Pendientes</a></li>
                                        </ul>
                                    </li>
                                    <!--<li>
                                        Mis donaciones
                                        <ul>
                                            <li>Mis necesidades</li>
                                            <li>Mis aportes</li>
                                        </ul>
                                    </li>-->
                                </ul>
                            <!--</div>
                        </div>
                    </div>
                </div>-->
            </div>
            <div class="uk-width-large-8-10">
                <div ui-view>
                </div>
            </div>
        </div>
    </div>
</div>