<div class="md-card">
    <div class="md-card-content">
        <h3 class="heading_a">Mi perfil</h3>
        <h4>Nivel de confianza: {{vm.usuarioPerfil.confianza}}</h4>
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-1-2">
                <div class="uk-overflow-container">
                    <div class="uk-form-row">
                        <div class="uk-grid">
                            <div class="uk-width-medium-1-2">
                                <label>Nombre</label>
                                <input type="text" class="md-input" md-input ng-model="vm.usuarioPerfil.nombre" maxlength="20" />
                            </div>
                            <div class="uk-width-medium-1-2">
                                <label>Apellido</label>
                                <input type="text" class="md-input" md-input ng-model="vm.usuarioPerfil.apellido" maxlength="30" />
                            </div>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <div class="uk-grid">
                            <div class="uk-width-medium-1-2">
                                <label>Nacionalidad</label>
                                <input type="text" class="md-input" md-input ng-model="vm.usuarioPerfil.nacionalidad" maxlength="30" />
                            </div>
                            <div class="uk-width-medium-1-2">
                                <label>Residencia</label>
                                <input type="text" class="md-input" md-input ng-model="vm.usuarioPerfil.residencia" maxlength="50" />
                            </div>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <div class="uk-grid">
                            <div class="uk-width-medium-1-2">
                                <button class="md-btn md-btn-success md-btn-wave-light" ng-click="vm.save()">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-2">
                <div class="uk-overflow-container">
                    <h3 class="heading_a uk-margin-small-bottom">
                        Imagen
                    </h3>
                    <input type="file" id="input-file-a" class="dropify" file-model="imagen" file-carpeta="usuarios" />
                </div>
            </div>
        </div>
    </div>
</div>