<div id="page_content">
    <div id="page_content_inner">
        <div class="md-card">
            <div class="md-card-content">
                <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
                    <div class="uk-width-medium-1-10">
                    </div>
                    <div class="uk-width-medium-4-10">
                        <h3>Tu objetivo</h3>
                        <p>Mediante DONAR podes crear tu necesidad para que otras personas puedan ayudarte a lograr el objetivo.
                            Lo podrás hacer en unos simples pasos, podrás subir videos, imagenes.</p>
                    </div>
                    <div class="uk-width-medium-2-10">
                    </div>
                    <div class="uk-width-medium-2-10">
                        <img src="../../../assets/img/help/Logo_DONAR.png" alt="Donar" />
                    </div>
                </div>
                <br/>
                <br/>
                <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
                    <div class="uk-width-medium-1-10">
                    </div>
                    <div class="uk-width-medium-2-10">
                        <img src="../../../assets/img/help/logo-mercadopago.jpg" alt="Donar" />
                    </div>
                    <div class="uk-width-medium-2-10">
                    </div>
                    <div class="uk-width-medium-4-10">
                        <h3>Donaciones de dinero</h3>
                        <p>DONAR te permite recibir y donar dinero mediante cualquier medio de pago,  rapi-pago, pago fácil, tarjetas de crédito. Todas operaciones de dinero se realizan mediante Mercado Pago, DONAR no interviene en esta operación con lo cual te asegura una completa transparencia en el proceso.</p>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
                    <div class="uk-width-medium-1-10">
                    </div>
                    <div class="uk-width-medium-4-10">
                        <h3>Donaciones confiables</h3>
                        <p>Cada vez que una donación se concreta se incrementa tu NIVEL DE CONFIANZA, de esta forma cada usuario cuenta con un nivel.</p>
                    </div>
                    <div class="uk-width-medium-2-10">
                    </div>
                    <div class="uk-width-medium-2-10">
                        <img src="../../../assets/img/help/trophy.jpg" alt="Donar" />
                    </div>
                </div>
                <br/>
                <br/>
                <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
                    <div class="uk-width-medium-1-10">
                    </div>
                    <div class="uk-width-medium-2-10">
                        <img src="../../../assets/img/help/social.png" alt="Donar" />
                    </div>
                    <div class="uk-width-medium-2-10">
                    </div>
                    <div class="uk-width-medium-4-10">
                        <h3>Te ayudamos a difundirte</h3>
                        <p>Comparti tu necesidad en tus redes sociales! DONAR te permite compartir una necesidad en Facebook, Twitter o Google+</p>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
                    <div class="uk-width-medium-1-10">
                    </div>
                    <div class="uk-width-medium-4-10">
                        <h3>Date a conocer</h3>
                        <p>Subi los resultados de tu necesidad, subi imagenes y videos de los objetivos que vas cumpliendo para que otros usuarios puedan ver el impacto que tiene su ayuda.</p>
                    </div>
                    <div class="uk-width-medium-2-10">
                    </div>
                    <div class="uk-width-medium-2-10">
                        <img src="../../../assets/img/help/upload-cloud.png" alt="Donar" style="width:170px;" />
                    </div>
                </div>
                <br/>
                <br/>
                <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
                    <div class="uk-width-medium-1-10">
                    </div>
                    <div class="uk-width-medium-2-10">
                        <img src="../../../assets/img/help/favourite.png" alt="Donar" style="width: 150px;" />
                    </div>
                    <div class="uk-width-medium-2-10">
                    </div>
                    <div class="uk-width-medium-4-10">
                        <h3>Mira el avance</h3>
                        <p>Agrega a favoritos una necesidad, y de este modo tener un seguimiento de la necesidad.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>