<div id="page_content">
	<div id="page_content_inner">
		<form class="uk-form-stacked" id="user_edit_form">
			<div class="uk-grid" data-uk-grid-margin>
				<div class="uk-width-large-10-10">
					<div class="md-card">
						<ng-map default-style="true" zoom="13" on-click="vm.mapaClick()">
						<!--<ng-map default-style="true" zoom="13" >-->
							<marker position="current" centered="true" icon="http://soydonar.com/mapicon.png"></marker>
							<marker ng-repeat="donacion in vm.donaciones" id='{{donacion.id}}' position="{{donacion.position}}" on-click="vm.showDetail(donacion)"></marker>

							<!--<info-window id="foo-iw">
								<div ng-non-bindable="">
									<span style="color:red">id:</span> {{vm.donacion.id}}
									<br/> name: {{vm.donacion.name}}
									<a href="#" ng-click="vm.clicked()">Click Here</a>
								</div>
							</info-window>-->
						</ng-map>
					</div>
				</div>
			</div>
			<button class="md-btn md-btn-success md-btn-wave-light" ng-click="vm.mostrarPosicion()">Mostrar pos</button>
		</form>
	</div>
</div>