<div id="page_content">
	<div id="page_content_inner">
		<form class="uk-form-stacked" id="user_edit_form">
			<div class="uk-grid" data-uk-grid-margin>
				<div class="uk-width-large-10-10">
					<div class="md-card">
						<ng-map zoom="15">
							<marker position="current" centered="true" draggable="true"></marker>
						</ng-map>
					</div>
				</div>
			</div>
			<button class="md-btn md-btn-success md-btn-wave-light" ng-click="vm.mostrarPosicion()">Mostrar pos</button>
		</form>
	</div>
</div>