<div id="page_content" >
	<div id="page_content_inner">
		<form class="uk-form-stacked" id="user_edit_form">
			<div class="uk-grid" data-uk-grid-margin>
				<div class="uk-width-large-7-10">
					<div class="md-card">
						<ng-map zoom="11" map-type-id="MapTypeId.MAP">
							<marker position="current" animation="Animation.BOUNCE" centered="true"></marker>
						</ng-map>
					</div>
				</div>
				<div class="uk-width-large-3-10">
					<div class="md-card">

					</div>
				</div>
			</div>
		</form>
	</div>
</div>