<div id="page_content">
	<div id="page_content_inner">
		<form class="uk-form-stacked" id="user_edit_form">
			<div class="uk-grid" data-uk-grid-margin>
				<div class="uk-width-large-7-10">
					<div class="md-card">
						<div class="user_content">
							<ul id="user_edit_tabs" class="uk-tab" data-uk-tab="{connect:'#user_edit_tabs_content'}">
								<li class="uk-active"><a href="#">Detalles</a></li>
								<li ng-if="vm.donacion.id_necesidad"><a href="#">Fotos</a></li>
								<!--<li ng-if="vm.donacion.id_necesidad"><a href="#">Videos</a></li>-->
							</ul>
							<ul id="user_edit_tabs_content" class="uk-switcher uk-margin">
								<li>
									<div class="uk-margin-top">
										<h3 class="heading_b uk-margin-bottom">Informacion general</h3>
										<label for="titulo">Titulo</label>
										<input class="md-input" type="text" id="titulo" name="titulo" ng-model="vm.resultado.titulo" md-input maxlength="50" />
										<div class="uk-grid">
											<div class="uk-width-1-1">
												<label for="necesidad">Resultado</label>
												<textarea class="md-input" name="necesidad" id="necesidad" cols="30" rows="6" ng-model="vm.resultado.resultado" md-input textarea-autosize
													maxlength="1000">{{vm.donacion.resultado}}</textarea>
											</div>
										</div>

										<div class="uk-grid">
											<div class="uk-width-medium-1-2">
												<button class="md-btn md-btn-success md-btn-wave-light" ng-click="vm.save()">Guardar</button>
											</div>
										</div>
									</div>
								</li>
								<li>
									<div class="uk-margin-top">
										<h3 class="heading_b uk-margin-bottom">Fotos</h3>
										<br>
										<div class="uk-form-file md-btn md-btn-primary">
											Subir
											<input id="form-file" type="file" file-model="imagenGaleria" file-carpeta="resultado/{{vm.donacion.id_necesidad}}" onchange="angular.element(this).scope().subirImagen()">
										</div>
										<br>
										<br>
										<br>
										<div id="user_profile_gallery" data-uk-check-display class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4"
											data-uk-grid="{gutter: 4}">
											<div ng-repeat="image in vm.images">
												<a href="http://www.soydonar.com/imagenes/resultado/{{vm.donacion.id_necesidad}}/{{image}}" data-uk-lightbox="{group:'user_images'}">
													<img ng-src="http://www.soydonar.com/imagenes/resultado/{{vm.donacion.id_necesidad}}/{{image}}" alt="" />
												</a>
											</div>
										</div>
									</div>
								</li>
								<!--<li>
									<h3 class="heading_b uk-margin-bottom">Videos</h3>
									<div class="uk-margin-top">
										<label for="video-titulo">Titulo</label>
										<input class="md-input" type="text" id="video-titulo" name="video-titulo" ng-model="vm.video.titulo" md-input maxlength="50"
										/>
										<br>
										<br>
										<label for="video-url">Url</label>
										<input class="md-input" type="text" id="video-url" name="video-url" ng-model="vm.video.url" md-input maxlength="50" />
										<br>
										<br>

										<div class="uk-grid">
											<div class="uk-width-1-1">
												<label for="video-descripcion">Descripcion</label>
												<textarea class="md-input" name="video-descripcion" id="video-descripcion" cols="30" rows="3" ng-model="vm.video.descripcion"
													md-input textarea-autosize maxlength="1000">{{vm.video.descripcion}}</textarea>
											</div>
										</div>

										<div class="uk-grid">
											<div class="uk-width-medium-1-2">
												<button class="md-btn md-btn-success md-btn-wave-light" ng-click="vm.subirVideo()">Subir</button>
											</div>
										</div>
									</div>
									<div class="blog_list uk-grid-width-medium-1-3 uk-grid-width-large-1-3" data-uk-grid="{gutter: 24}">
										<div ng-repeat="teaser in vm.videos">
											<div class="md-card">
												<div class="md-card-content small-padding">
													<div class="uk-cover blog_list_teaser_video">
														<iframe height="150" width="300" data-uk-cover ng-src="{{vm.getYTLink(teaser.url)}}" frameborder="0" allowfullscreen style="max-width: 100%"></iframe>
													</div>
													<div class="blog_list_teaser">
														<h2 class="blog_list_teaser_title uk-text-truncate">{{teaser.titulo}}</h2>
														<p>{{teaser.comentario}}</p>
														<span class="uk-text-muted uk-text-small">{{teaser.fecha}}</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li>-->
							</ul>
						</div>
					</div>
				</div>
				<!--<div class="uk-width-large-3-10">
					<div class="md-card">
						<div class="md-card-content">
							<h3 class="heading_c uk-margin-bottom">Cargue el resultado</h3>
							<h3 class="heading_a uk-margin-small-bottom">
								Portada
							</h3>
							<input type="file" id="input-file-a" class="dropify" file-model="imagen" file-carpeta="necesidades" />

							<hr class="md-hr">
							<div class="uk-form-row">
								<label class="uk-form-label">Tipo</label>
								<input config="vm.tipo_config" options="vm.tipo_options" ng-model="vm.donacion.categoria" name="tipo" selectize />
							</div>

							<div ng-if="vm.donacion.categoria.toUpperCase() === 'DINERO'">
								<hr class="md-hr">

								<div class="uk-input-group">
									<span class="uk-input-group-addon">$</span>
									<div class="md-input-wrapper"><label>Objetivo</label>
										<input type="number" class="md-input ng-pristine ng-valid ng-isolate-scope ng-empty md-input-processed ng-touched" ng-model="vm.donacion.dineroTotal"
											md-input="" pattern="^[0-9]+$">
										<span class="md-input-bar "></span>
									</div>
								</div>

								<hr class="md-hr">

							</div>
						</div>
					</div>
				</div>-->
				<div class="uk-width-large-3-10">
                <div class="md-card">
                    <div class="md-card-content">
                        <div class="uk-margin-medium-bottom">
                            <h3 class="heading_c uk-margin-bottom">Informacion adicional</h3>

                            <img ng-src="http://www.soydonar.com/imagenes/necesidades/{{vm.donacion.imagen_path}}" alt="" class="blog_list_teaser_image ng-scope" />

                            <div ng-if="vm.donacion.categoria == 'DINERO'">
                                <div id="ionslider_2" name="ionslider_2" ion-slider ng-model="vm.donacion.dineroRecaudado" min="0" max="5000" grid="true"
                                    prefix="$" ng-disabled="true"></div>
                                <span class="uk-form-help-block">Recaudado</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			</div>
		</form>
	</div>
</div>