<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
            <div class="uk-width-large-7-10">
                <div class="md-card">
                    <div class="user_heading">
                        <!--<div class="user_heading_menu" data-uk-dropdown="{pos:'bottom-right'}">
                            <i class="md-icon material-icons md-icon-light">&#xE5D4;</i>
                            <div class="uk-dropdown uk-dropdown-small">
                                <ul class="uk-nav">
                                    <li><a href="#">Action 1</a></li>
                                    <li><a href="#">Action 2</a></li>
                                </ul>
                            </div>
                        </div>-->
                        <div class="user_heading_avatar">
                            <div class="thumbnail">
                                <img class="usuario-avatar" ng-src="http://www.soydonar.com/imagenes/usuarios/{{vm.donacion.avatar || 'avatar.png'}}" alt="user avatar"
                                />
                            </div>
                        </div>
                        <div class="user_heading_content">
                            <h2 class="heading_b uk-margin-bottom">
                                <span class="uk-text-truncate">{{vm.donacion.titulo}}</span>
                                <!--<span class="sub-heading">{{vm.user_data.position}}</span>-->
                            </h2>
                            <ul class="user_stats" style="display: table;float: left;">
                                <li>
                                    <h4 class="heading_a">{{vm.donacion.cant_likes}}<span class="sub-heading"><i class="uk-icon-thumbs-o-up"></i> Likes</span></h4>
                                </li>
                                <li>
                                    <!--<h4 class="heading_a">{{vm.donacion.cant_fotos}}<span class="sub-heading"><i class="uk-icon-camera"></i> Fotos</span></h4>-->
                                    <h4 class="heading_a">{{vm.images.length}}<span class="sub-heading"><i class="uk-icon-camera"></i> Fotos</span></h4>
                                </li>
                                <li>
                                    <h4 class="heading_a">{{vm.donacion.cant_favs}}<span class="sub-heading"><i class="uk-icon-heart-o"></i> Favoritos</span></h4>
                                </li>
                                <li>
                                    <h4 class="heading_a">{{vm.donacion.confianza}}<span class="sub-heading"><i class="uk-icon-trophy"></i> Confianza</span></h4>
                                </li>
                            </ul>

                            <div id="botones-para-compartir">
                                <a href="javascript:void(0);" onclick="window.open('http://www.facebook.com/sharer/sharer.php?u=http://www.soydonar.com/',&quot;gplusshare&quot;,&quot;toolbar=0,status=0,width=548,height=325&quot;);"
                                    rel="nofollow" title="Compartir en Facebook"><img alt="compartir en facebook" class="facebooko" height="40" src="http://1.bp.blogspot.com/-rwK-4X3iLjc/ViFsOclr9NI/AAAAAAAABwc/ocBw9cxRK2M/s1600/facebook-long.png"
                                        title="compartir en facebook" width="40" /></a>
                                <a href="javascript:void(0);" onclick="window.open(&quot;https://plus.google.com/share?url=http://www.soydonar.com/&quot;,&quot;gplusshare&quot;,&quot;toolbar=0,status=0,width=548,height=325&quot;);"
                                    rel="nofollow" title="Compartir en Google+"><img alt="compartir en google+" class="googleo" height="40" src="http://1.bp.blogspot.com/-SKqPlZHzLgg/ViFsOt7HbeI/AAAAAAAABw0/bQQhWqgEpWM/s1600/google-long.png"
                                        title="compartir en google+" width="40" /></a>
                                <a href="javascript:void(0);" onclick="window.open(&quot;http://twitter.com/home?status=http://www.soydonar.com/&quot;,&quot;gplusshare&quot;,&quot;toolbar=0,status=0,width=548,height=325&quot;);"
                                    rel="nofollow" title="Compartir en Google+"><img alt="compartir en twitter" class="twittero" height="40" src="http://4.bp.blogspot.com/-gqVyoE8cVME/ViFsO009lbI/AAAAAAAABwo/1oK8cUnY36Q/s1600/twitter-long.png"
                                        title="compartir en twitter" width="40" /></a>
                            </div>
                            <style>
                                #botones-para-compartir {
                                    text-align: center;
                                    display: table;
                                    float: right;
                                }
                                
                                .facebooko:hover,
                                .twittero:hover,
                                .googleo:hover {
                                    -webkit-transform: rotate(360deg);
                                    -moz-transform: rotate(360deg);
                                    transform: rotate(360deg);
                                    transition: all .3s ease-out;
                                    -moz-transition: all .5s;
                                    -webkit-transition: all .5s;
                                    -o-transition: all .5s;
                                }
                                
                                .likedino,
                                .facebooko,
                                .twittero,
                                .googleo,
                                .pinteresto {
                                    transition: all .3s ease-out;
                                    -moz-transition: all .5s;
                                    -webkit-transition: all .5s;
                                    -o-transition: all .5s;
                                    margin-left: 10px;
                                    /* espacio entre cada boton */
                                }
                            </style>
                        </div>
                        <a style="z-index: 1;" ng-if="vm.isCreatedUser" class="md-fab md-fab-small md-fab-accent" ng-click="vm.editar()">
                            <i class="material-icons">&#xE150;</i>
                        </a>
                    </div>
                    <div class="uk-grid" data-uk-grid-margin>
                        <div class="uk-width-large-10-10">
                            <div class="md-card">
                                <ng-map zoom="15" center="[{{vm.donacion.latitud}},{{vm.donacion.longitud}}]">
                                    <marker position="[{{vm.donacion.latitud}},{{vm.donacion.longitud}}]"></marker>
                                </ng-map>
                            </div>
                        </div>
                    </div>
                    <div class="user_content">
                        <ul id="user_profile_tabs" class="uk-tab" data-uk-tab="{connect:'#user_profile_tabs_content', animation:'slide-horizontal'}"
                            data-uk-sticky="{ top: 48, media: 960 }">
                            <li class="uk-active"><a href="#">Detalle</a></li>
                            <li ng-show="vm.images.length > 0"><a href="#">Fotos</a></li>
                            <li ng-show="vm.videos.length > 0"><a href="#">Videos</a></li>
                        </ul>
                        <ul id="user_profile_tabs_content" class="uk-switcher uk-margin">
                            <li>
                                <div ng-bind-html="vm.donacion.necesidad" style="white-space: pre-wrap;"></div>
                                <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
                                    <div class="uk-width-large-1-2">
                                        <h4 class="heading_c uk-margin-small-bottom">Contacto</h4>
                                        <ul class="md-list md-list-addon">
                                            <li ng-if="vm.donacion.email">
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE158;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{vm.donacion.email}}</span>
                                                    <span class="uk-text-small uk-text-muted">Email</span>
                                                </div>
                                            </li>
                                            <li ng-if="vm.donacion.telefono">
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{vm.donacion.telefono}}</span>
                                                    <span class="uk-text-small uk-text-muted">Telefono</span>
                                                </div>
                                            </li>
                                            <li ng-if="vm.donacion.facebook">
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon uk-icon-facebook-official"></i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{vm.donacion.facebook}}</span>
                                                    <span class="uk-text-small uk-text-muted">Facebook</span>
                                                </div>
                                            </li>
                                            <li ng-if="vm.donacion.twitter">
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon uk-icon-twitter"></i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{vm.donacion.twitter}}</span>
                                                    <span class="uk-text-small uk-text-muted">Twitter</span>
                                                </div>
                                            </li>
                                            <li ng-if="vm.donacion.usuario_mp">
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon uk-icon-dollar"></i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{vm.donacion.usuario_mp}}</span>
                                                    <span class="uk-text-small uk-text-muted">Usuario de Mercado Pago</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="uk-width-large-1-2" ng-if="vm.donacion.direccion">
                                        <h4 class="heading_c uk-margin-small-bottom">Informacion</h4>
                                        <ul class="md-list">
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon uk-icon-home"></i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{vm.donacion.direccion}}</span>
                                                    <span class="uk-text-small uk-text-muted">Direccion</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div id="user_profile_gallery" data-uk-check-display class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4"
                                    data-uk-grid="{gutter: 4}">
                                    <div ng-repeat="image in vm.images">
                                        <a href="http://www.soydonar.com/imagenes/galeria/{{vm.donacion.id_necesidad}}/{{image}}" data-uk-lightbox="{group:'user_images'}">
                                            <img ng-src="http://www.soydonar.com/imagenes/galeria/{{vm.donacion.id_necesidad}}/{{image}}" alt="" />
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <h3 class="heading_b uk-margin-bottom">Videos</h3>
                                <div class="blog_list uk-grid-width-medium-1-3 uk-grid-width-large-1-3" data-uk-grid="{gutter: 24}">
                                    <div ng-repeat="teaser in vm.videos">
                                        <div class="md-card">
                                            <div class="md-card-content small-padding">
                                                <div class="uk-cover blog_list_teaser_video">
                                                    <iframe height="150" width="300" data-uk-cover ng-src="{{vm.getYTLink(teaser.url)}}" frameborder="0" allowfullscreen style="max-width: 100%"></iframe>
                                                </div>
                                                <div class="blog_list_teaser">
                                                    <h2 class="blog_list_teaser_title uk-text-truncate">{{teaser.titulo}}</h2>
                                                    <p>{{teaser.comentario}}</p>
                                                    <span class="uk-text-muted uk-text-small">{{teaser.fecha}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <div class="comentarios">
                            <div class="uk-margin-large-bottom">
                                <h2 class="heading_c uk-margin-small-bottom">Comentarios</h2>
                                <ul class="uk-comment-list">
                                    <li ng-repeat="c in vm.donacion.lista_coment">
                                        <article class="uk-comment">
                                            <header class="uk-comment-header">
                                                <img class="md-user-image uk-comment-avatar" ng-src="http://www.soydonar.com/imagenes/usuarios/{{c.imagen_path}}" alt="">
                                                <h4 class="uk-comment-title">{{c.usuario}}</h4>
                                                <div class="uk-comment-meta">{{c.fecha}}</div>
                                            </header>
                                            <div class="uk-comment-body">
                                                <p>{{c.comentario}}</p>
                                            </div>
                                        </article>
                                    </li>
                                </ul>
                            </div>
                            <div ng-if="vm.usuarioLogueado">
                                <textarea cols="30" rows="4" class="md-input" placeholder="Agregar comentario..." md-input ng-model="vm.comentario"></textarea>
                                <a class="md-btn uk-margin-top" ng-click="vm.addComment()">Comentar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-large-3-10">
                <div class="md-card">
                    <div class="md-card-content">
                        <div class="uk-margin-medium-bottom">
                            <h3 class="heading_c uk-margin-bottom">Informacion adicional</h3>

                            <img ng-src="http://www.soydonar.com/imagenes/necesidades/{{vm.donacion.imagen_path}}" alt="" class="blog_list_teaser_image ng-scope"
                            />

                            <div ng-if="vm.donacion.categoria == 'DINERO'">
                                <div id="ionslider_2" name="ionslider_2" ion-slider ng-model="vm.donacion.dineroRecaudado" min="0" max="{{vm.donacion.dineroTotal}}"
                                    grid="true" prefix="$" ng-disabled="true"></div>
                                <span class="uk-form-help-block">Recaudado</span>
                            </div>

                            <!--<ul class="md-list md-list-addon">
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons uk-text-warning">&#xE88F;</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Ropa</span>
                                        <span class="uk-text-small uk-text-muted uk-text-truncate">Aceptamos nueva y usada</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons uk-text-warning">&#xE88F;</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Dinero</span>
                                        <span class="uk-text-small uk-text-muted uk-text-truncate">Para comprar alimentos</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons uk-text-warning">&#xE88F;</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Utiles escolares</span>
                                        <span class="uk-text-small uk-text-muted uk-text-truncate">Desde lapices hasta mochilas</span>
                                    </div>
                                </li>
                            </ul>-->
                            <div ng-if="vm.usuarioLogueado" class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
                                <div class="uk-width-large-1-2">
                                    <span class="uk-input-group-addon">
                                        <a class="md-btn md-btn-primary" ng-click="vm.addFavorite()">
                                            <i class="uk-icon-heart" style="color:#f44336"></i>
                                            Favorito
                                        </a>
                                    </span>
                                </div>
                                <div class="uk-width-large-1-2">
                                    <span class="uk-input-group-addon">
                                        <a class="md-btn md-btn-primary" ng-click="vm.addLike()">
                                            <i class="uk-icon-thumbs-up" style="color:#fff"></i>
                                            Me gusta
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <!--Este es el label del usuario de mercado pago-->
                            <div ng-if="vm.donacion.categoria.toUpperCase() == 'DINERO' && vm.donacion.usuario_mp" class="uk-grid" data-uk-grid-margin
                                data-uk-grid-match>
                                <div class="uk-width-large-1-1">
                                    <ul class="md-list md-list-addon">
                                        <li ng-if="vm.donacion.usuario_mp">
                                            <div class="md-list-addon-element">
                                                <i class="md-list-addon-icon uk-icon-dollar"></i>
                                            </div>
                                            <div class="md-list-content">
                                                <span class="md-list-heading">{{vm.donacion.usuario_mp}}</span>
                                                <span class="uk-text-small uk-text-muted">Usuario de Mercado Pago</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-if="vm.usuarioLogueado && vm.usuarioLogueado.usuario != vm.donacion.usuario && vm.donacion.categoria.toUpperCase() == 'VOLUNTARIADO' && vm.estaActiva"
                                class="uk-grid" data-uk-grid-margin data-uk-grid-match>
                                <div class="uk-width-large-1-1">
                                    <!--<a class="md-btn md-btn-success md-btn-block md-btn-wave-light" href="javascript:void(0)">Quiero ser voluntario!</a>  -->
                                    <span class="uk-input-group-addon">
                                        <a class="md-btn md-btn-success md-btn-block md-btn-wave-light" style="background-color: #00b650;" ng-click="vm.donarVoluntariado()">
                                            <i class="uk-icon-smile-o" style="color: #f3f67b;font-size: 25px;padding-top: 7px;"></i>
                                            Quiero ser voluntario!
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div ng-if="vm.usuarioLogueado && vm.usuarioLogueado.usuario != vm.donacion.usuario && vm.donacion.categoria.toUpperCase() == 'DINERO' && vm.donacion.usuario_mp &&  vm.estaActiva"
                                class="uk-grid" data-uk-grid-margin data-uk-grid-match>
                                <div class="uk-width-large-1-1">
                                    <div class="uk-input-group">
                                        <label>Donacion monetaria con Mercado Pago</label>
                                        <input type="number" class="md-input" ng-model="vm.donacionMonetaria" md-input pattern="^[0-9]+$" />
                                        <span class="uk-input-group-addon">
                                        <!--<a ng-click="vm.pagarMercadoPago()" data-uk-modal="{target:'#modal_overflow'}">-->
                                        <a ng-click="vm.pagarMercadoPago()">
                                            <i class="material-icons">&#xE163;</i>
                                        </a>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="vm.usuarioLogueado && vm.usuarioLogueado.usuario != vm.donacion.usuario && vm.estaActiva" class="uk-grid" data-uk-grid-margin
                                data-uk-grid-match>
                                <div class="uk-width-large-1-1">
                                    <div class="uk-input-group">
                                        <label>Donar elementos</label>
                                        <input type="text" class="md-input" ng-model="vm.donacionDeCosas" md-input maxlength="200" />
                                        <span class="uk-input-group-addon">
                                            <a ng-click="vm.donarCosas()">
                                                <i class="material-icons">&#xE163;</i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="!vm.estaActiva" class="uk-grid" data-uk-grid-margin data-uk-grid-match>
                                <div class="uk-width-large-1-1">
                                    <span class="uk-badge uk-badge-danger">Necesidad vencida</span>
                                </div>
                            </div>

                            <div>
                                <!--<button class="md-btn" data-uk-modal="{target:'#modal_overflow'}">Open</button>-->
                                <div id="modal_overflow" class="uk-modal">
                                    <div class="uk-modal-dialog" style="width:1000px;">
                                        <button type="button" class="uk-modal-close uk-close"></button>
                                        <iframe data-ng-src="{{vm.mercadoPagoURL}}" frameborder="0" style="width: 100%; height: 560px;"></iframe>
                                        <!--<h2 class="heading_a">Some text above the scrollable box</h2>
                                    <p>Quia porro id amet eos optio veniam repudiandae repudiandae quae ipsam dolores dolores eveniet qui et consequatur molestiae minima eos qui et esse optio et iusto vel quis delectus numquam saepe saepe reiciendis cupiditate libero voluptates magnam est facilis.</p>
                                    <div class="uk-overflow-container">
                                        <h2 class="heading_b">Overflow container</h2>
                                        
                                    </div>
                                    <h2 class="heading_a">Some text below the overflow container</h2>
                                    <p>Ipsum beatae optio magnam consectetur iste aut aut nihil id dolor totam sed repellat animi suscipit ex numquam quisquam debitis autem ea non occaecati esse laborum temporibus vel ut laborum explicabo magnam ratione et repellat vel labore quasi non rem consequuntur qui dolore eligendi eos explicabo cumque.</p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="md-card">
                    <div class="md-card-content">
                        <h3 class="heading_c uk-margin-bottom">Donaciones</h3>
                        <ul class="md-list md-list-addon uk-margin-bottom">
                            <li ng-repeat="aporte in vm.aportes">
                                <div class="md-list-addon-element">
                                    <img class="md-user-image md-list-addon-avatar" ng-src="http://www.soydonar.com/imagenes/usuarios/{{aporte.donante}}.jpg"
                                        alt="" />
                                </div>
                                <div class="md-list-content">
                                    <span class="md-list-heading">{{aporte.donante}}</span>
                                    <span class="uk-text-small uk-text-muted" style="font-weigh:bold" >{{aporte.fecha}}</span>
                                    <br>
                                    <span class="uk-text-small uk-text-muted">{{aporte.aporte_donacion}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>