<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
            <div class="uk-width-large-7-10">
                <div class="md-card">
                    <div class="user_heading">
                        <!--<div class="user_heading_menu" data-uk-dropdown="{pos:'bottom-right'}">
                            <i class="md-icon material-icons md-icon-light">&#xE5D4;</i>
                            <div class="uk-dropdown uk-dropdown-small">
                                <ul class="uk-nav">
                                    <li><a href="#">Action 1</a></li>
                                    <li><a href="#">Action 2</a></li>
                                </ul>
                            </div>
                        </div>-->
                        <div class="user_heading_avatar">
                            <div class="thumbnail">
                                <img ng-src="http://www.soydonar.com/imagenes/usuarios/{{vm.donacion.avatar}}" alt="user avatar" />
                            </div>
                        </div>
                        <div class="user_heading_content">
                            <h2 class="heading_b uk-margin-bottom">
                                <span class="uk-text-truncate">{{vm.donacion.titulo}}</span>
                                <!--<span class="sub-heading">{{vm.user_data.position}}</span>-->
                            </h2>
                            <ul class="user_stats">
                                <li>
                                    <h4 class="heading_a">{{vm.donacion.cant_likes}}<span class="sub-heading"><i class="uk-icon-thumbs-o-up"></i> Likes</span></h4>
                                </li>
                                <li>
                                    <h4 class="heading_a">{{vm.donacion.cant_fotos}}<span class="sub-heading"><i class="uk-icon-camera"></i> Fotos</span></h4>
                                </li>
                                <li>
                                    <h4 class="heading_a">{{vm.donacion.cant_favs}}<span class="sub-heading"><i class="uk-icon-star-o"></i> Favoritos</span></h4>
                                </li>
                            </ul>
                        </div>
                        <a ng-if="vm.isCreatedUser" class="md-fab md-fab-small md-fab-accent" ng-click="vm.editar()">
                            <i class="material-icons">&#xE150;</i>
                        </a>
                    </div>
                    <div class="user_content">
                        <ul id="user_profile_tabs" class="uk-tab" data-uk-tab="{connect:'#user_profile_tabs_content', animation:'slide-horizontal'}"
                            data-uk-sticky="{ top: 48, media: 960 }">
                            <li class="uk-active"><a href="#">Detalle</a></li>
                            <li ng-if="vm.images.length>0"><a href="#">Fotos</a></li>
                        </ul>
                        <ul id="user_profile_tabs_content" class="uk-switcher uk-margin">
                            <li>
                                {{vm.donacion.necesidad}}
                                <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
                                    <div class="uk-width-large-1-2">
                                        <h4 class="heading_c uk-margin-small-bottom">Contacto</h4>
                                        <ul class="md-list md-list-addon">
                                            <li ng-if="vm.donacion.email">
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE158;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{vm.donacion.email}}</span>
                                                    <span class="uk-text-small uk-text-muted">Email</span>
                                                </div>
                                            </li>
                                            <li ng-if="vm.donacion.telefono">
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon material-icons">&#xE0CD;</i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{vm.donacion.telefono}}</span>
                                                    <span class="uk-text-small uk-text-muted">Telefono</span>
                                                </div>
                                            </li>
                                            <li ng-if="vm.donacion.facebook">
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon uk-icon-facebook-official"></i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{vm.donacion.facebook}}</span>
                                                    <span class="uk-text-small uk-text-muted">Facebook</span>
                                                </div>
                                            </li>
                                            <li ng-if="vm.donacion.twitter">
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon uk-icon-twitter"></i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{vm.donacion.twitter}}</span>
                                                    <span class="uk-text-small uk-text-muted">Twitter</span>
                                                </div>
                                            </li>
                                            <li ng-if="vm.donacion.usuario_mp">
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon uk-icon-dollar"></i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{vm.donacion.usuario_mp}}</span>
                                                    <span class="uk-text-small uk-text-muted">Usuario de Mercado Pago</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="uk-width-large-1-2" ng-if="vm.donacion.direccion">
                                        <h4 class="heading_c uk-margin-small-bottom">Informacion</h4>
                                        <ul class="md-list">
                                            <li>
                                                <div class="md-list-addon-element">
                                                    <i class="md-list-addon-icon uk-icon-home"></i>
                                                </div>
                                                <div class="md-list-content">
                                                    <span class="md-list-heading">{{vm.donacion.direccion}}</span>
                                                    <span class="uk-text-small uk-text-muted">Direccion</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div id="user_profile_gallery" data-uk-check-display class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4"
                                    data-uk-grid="{gutter: 4}">
                                    <div ng-repeat="image in vm.images">
                                        <a href="http://www.soydonar.com/imagenes/galeria/{{vm.donacion.id_necesidad}}/{{image}}" data-uk-lightbox="{group:'user_images'}">
                                            <img ng-src="http://www.soydonar.com/imagenes/galeria/{{vm.donacion.id_necesidad}}/{{image}}" alt="" />
                                        </a>
                                    </div>
                                </div>
                                <!--<ul class="uk-pagination uk-margin-large-top">
                                    <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
                                    <li class="uk-active"><span>1</span></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><span>&hellip;</span></li>
                                    <li><a href="#">20</a></li>
                                    <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
                                </ul>-->
                            </li>
                        </ul>

                        <div class="comentarios">
                            <div class="uk-margin-large-bottom">
                                <h2 class="heading_c uk-margin-small-bottom">Comentarios</h2>
                                <ul class="uk-comment-list">
                                    <li ng-repeat="c in vm.donacion.lista_coment">
                                        <article class="uk-comment">
                                            <header class="uk-comment-header">
                                                <img class="md-user-image uk-comment-avatar" ng-src="http://www.soydonar.com/imagenes/usuarios/{{c.imagen_path}}" alt="">
                                                <h4 class="uk-comment-title">{{c.usuario}}</h4>
                                                <div class="uk-comment-meta">{{c.fecha}}</div>
                                            </header>
                                            <div class="uk-comment-body">
                                                <p>{{c.comentario}}</p>
                                            </div>
                                        </article>
                                    </li>
                                </ul>
                            </div>
                            <div ng-if="vm.usuarioLogueado">
                                <textarea cols="30" rows="4" class="md-input" placeholder="Agregar comentario..." md-input ng-model="vm.comentario"></textarea>
                                <a class="md-btn uk-margin-top" ng-click="vm.addComment()">Comentar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-large-3-10">
                <div class="md-card">
                    <div class="md-card-content">
                        <div class="uk-margin-medium-bottom">
                            <h3 class="heading_c uk-margin-bottom">Informacion adicional</h3>

                            <img ng-src="http://www.soydonar.com/imagenes/necesidades/{{vm.donacion.imagen_path}}" alt="" class="blog_list_teaser_image ng-scope"
                            />

                            <div ng-if="vm.donacion.categoria == 'DINERO'">
                                <div id="ionslider_2" name="ionslider_2" ion-slider ng-model="vm.donacion.dineroRecaudado" min="0" max="5000" grid="true"
                                    prefix="$" ng-disabled="true"></div>
                                <span class="uk-form-help-block">Recaudado</span>
                            </div>

                            <ul class="md-list md-list-addon">
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons uk-text-warning">&#xE88F;</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Ropa</span>
                                        <span class="uk-text-small uk-text-muted uk-text-truncate">Aceptamos nueva y usada</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons uk-text-warning">&#xE88F;</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Dinero</span>
                                        <span class="uk-text-small uk-text-muted uk-text-truncate">Para comprar alimentos</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="md-list-addon-element">
                                        <i class="md-list-addon-icon material-icons uk-text-warning">&#xE88F;</i>
                                    </div>
                                    <div class="md-list-content">
                                        <span class="md-list-heading">Utiles escolares</span>
                                        <span class="uk-text-small uk-text-muted uk-text-truncate">Desde lapices hasta mochilas</span>
                                    </div>
                                </li>
                            </ul>
                            <div ng-if="vm.usuarioLogueado" class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
                                <div class="uk-width-large-1-2">
                                    <span class="uk-input-group-addon">
                                        <a class="md-btn md-btn-primary" ng-click="vm.addFavorite()">
                                            <i class="uk-icon-heart" style="color:#f44336"></i>
                                            Favorito
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div ng-if="vm.donacion.categoria.toUpperCase() == 'DINERO' && vm.donacion.usuario_mp" class="uk-grid" data-uk-grid-margin
                                data-uk-grid-match>
                                <div class="uk-width-large-1-1">
                                    <ul class="md-list md-list-addon">
                                        <li ng-if="vm.donacion.usuario_mp">
                                            <div class="md-list-addon-element">
                                                <i class="md-list-addon-icon uk-icon-dollar"></i>
                                            </div>
                                            <div class="md-list-content">
                                                <span class="md-list-heading">{{vm.donacion.usuario_mp}}</span>
                                                <span class="uk-text-small uk-text-muted">Usuario de Mercado Pago</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div ng-if="vm.donacion.categoria.toUpperCase() == 'DINERO' && vm.donacion.usuario_mp" class="uk-grid" data-uk-grid-margin
                                data-uk-grid-match>
                                <div class="uk-width-large-1-1">
                                    <div class="uk-input-group">
                                        <label>Donacion monetaria con Mercado Pago</label>
                                        <input type="text" class="md-input" ng-model="vm.donacionMonetaria" md-input />
                                        <span class="uk-input-group-addon">
                                        <a ng-click="vm.pagarMercadoPago()">
                                            <i class="material-icons">&#xE163;</i>
                                        </a>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="vm.usuarioLogueado" class="uk-grid" data-uk-grid-margin data-uk-grid-match>
                                <div class="uk-width-large-1-1">
                                    <div class="uk-input-group">
                                        <label>Donar elementos</label>
                                        <input type="text" class="md-input" ng-model="vm.donacionDeCosas" md-input />
                                        <span class="uk-input-group-addon">
                                        <a ng-click="vm.donarCosas()">
                                            <i class="material-icons">&#xE163;</i>
                                        </a>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>