<div id="page_content">
	<div id="fondo_home" banner style="background: url('assets/img/login/8.1.jpg');
    height: auto;
  	min-height: 100%;
  	background-position: center top;
    background-size: 100% auto;
	">
		<form style="position: absolute;
    bottom: 0px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;">
			<!--Buscador-->
			<div class="md-card">
				<div class="md-card-content">
					<div class="uk-grid" data-uk-grid-margin="">
						<div class="uk-width-medium-1-10"></div>
						<div class="uk-width-medium-4-10">
							<input type="text" class="md-input" id="product_search_name" ng-model="vm.palabraClave" md-input placeholder="Ej: Refugio de animales">
						</div>
						<div class="uk-width-medium-4-10">
							<div class="uk-input-group">
								<input config="vm.tipo_config" options="vm.tipo_options" ng-model="vm.categoriaSeleccionada" name="tipo" selectize />
								<span class="uk-input-group-addon">
                                <button class="md-btn md-btn-primary" ng-click="vm.buscar()" >
                                    <i class="uk-icon-search"></i>
                                    Buscar
                                </button>
                            </span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div id="page_content_inner">
		<!-- info cards -->
		<div class="uk-grid uk-grid-medium uk-grid-width-medium-1-2 uk-grid-width-large-1-3" data-uk-grid-margin data-uk-grid-match="{target:'.md-card-content'}">
			<div ng-repeat="d in vm.donaciones">
				<div class="md-card">
					<div class="md-card-content small-padding">
						<a ui-sref="restricted.donacion({ id: d.id_necesidad })">
							<img ng-src="http://www.soydonar.com/imagenes/necesidades/{{d.imagen_path}}" alt="" class="blog_list_teaser_image ng-scope"
							/>
						</a>
						<div class="blog_list_teaser">
							<a ui-sref="restricted.donacion({ id: d.id_necesidad })">
								<h2 class="blog_list_teaser_title uk-text-truncate ng-binding">{{d.titulo}}</h2>
								<p class="ng-binding sin-overflow" style="color:#585858">{{d.necesidad | limitTo: 100 }}{{d.necesidad.length > 100 ? '...' : ''}}</p>
								<span class="uk-text-muted uk-text-small ng-binding">{{d.fecha_texto}} <span ng-show="d.fecha_texto_fin">- <span ng-class="{'fecha-vencida': !d.estaActiva}">{{d.fecha_texto_fin}}</span>								</span>
								</span>
							</a>
						</div>
						<div class="blog_list_footer">
							<div class="blog_list_footer_info">
								<span class="uk-margin-right">
									<a ng-if="vm.usuarioLogueado" ng-click="vm.addLike(d.id_necesidad)">
										<i class="uk-icon-thumbs-o-up" style="color:#908c8c;"></i>	
									</a>
									<i ng-if="!vm.usuarioLogueado" class="uk-icon-thumbs-o-up" style="color:#908c8c;"></i>
									<small class="ng-binding">{{d.cant_likes}}</small>
								</span>
								<span>
									<i class="material-icons"></i>
									<small class="ng-binding">{{d.comentarios_cant}}</small>
								</span>
							</div>
							<!--<a ui-sref="restricted.pages.blog.article({ articleId: 1 })" class="md-btn md-btn-small md-btn-flat md-btn-flat-primary uk-float-right" href="#/pages/blog/article/1">Donar</a>-->
							<a ui-sref="restricted.donacion({ id: d.id_necesidad })" class="md-btn md-btn-small md-btn-flat md-btn-flat-primary uk-float-right"
								href="#/pages/blog/article/1">Ver</a>

							<a ng-show="d.tiene_resultado=='1'" ui-sref="restricted.donacion-resultado-ver({ id: d.id_necesidad })" class="md-btn md-btn-small md-btn-flat md-btn-flat-primary uk-float-right">Ver resultado</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>